templates/05-multi-platform-post-draft.local-ollama.json
{
  "id": "WkPostDraft05",
  "name": "主題→多平台貼文草稿 (Multi-Platform Post Draft · 本機 Ollama)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual",
      "name": "When clicking Execute",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const source = '（把這裡換成一則新聞連結、主題、或你想發的點子）';\nconst prompt = '你是 @yuri.learns 的社群小編（設計師學 AI 的帳號，語氣親切口語、不浮誇、不釣互動、用全形標點）。根據以下素材，產出三個平台的貼文草稿：\\nIG（圖文，3-5 句、適度換行）\\nThreads（口語、短、1-2 句鉤子）\\nFacebook（稍完整、可帶個人觀點）\\n用繁體中文。\\n\\n素材：\\n' + source;\nreturn [{ json: { source, prompt } }];"
      },
      "id": "node-input",
      "name": "Input (edit me)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:latest', messages: [ { role: 'user', content: $json.prompt } ], stream: false }) }}",
        "options": { "timeout": 180000 }
      },
      "id": "node-ollama",
      "name": "Summarize with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet out = '';\ntry { out = (data.message && data.message.content) || (data.content && data.content[0] && data.content[0].text) || data.response || ''; } catch (e) {}\nif (!out) out = JSON.stringify(data);\nreturn [{ json: { result: out } }];"
      },
      "id": "node-result",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "When clicking Execute": { "main": [ [ { "node": "Input (edit me)", "type": "main", "index": 0 } ] ] },
    "Input (edit me)": { "main": [ [ { "node": "Summarize with Ollama", "type": "main", "index": 0 } ] ] },
    "Summarize with Ollama": { "main": [ [ { "node": "Result", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {},
  "tags": []
}
