templates/archetype-comment-management.skeleton.json
{
  "id": "ArchComments04",
  "name": "【架構範本】留言監測 → AI 回覆建議 (未接 key)",
  "nodes": [
    {
      "parameters": {
        "content": "⚠️ 架構範本（未接 key）\n\n「Fetch Comments」要填貼文 ID + Access Token（讀留言權限）。\nFB/IG/Threads/YouTube 同架構，換對應 endpoint。\n\n語意判斷 + 回覆建議（Ollama）與推 Discord 是免費本機的；Send to Discord 記得貼 webhook。",
        "height": 300,
        "width": 380,
        "color": 4
      },
      "id": "node-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 120]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 */6 * * *" } ] }
      },
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v21.0/YOUR_POST_ID/comments?fields=from,message,created_time",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "access_token", "value": "YOUR_ACCESS_TOKEN" } ] },
        "options": {}
      },
      "id": "node-fetch",
      "name": "Fetch Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "jsCode": "const d = JSON.stringify($input.first().json).slice(0, 3000);\nconst prompt = '以下是社群貼文的留言（JSON）。請用繁體中文：1) 判斷每則語意（正面/負面/疑問/酸） 2) 給可直接微調使用的回覆建議。\\n\\n留言：\\n' + d;\nreturn [{ json: { prompt } }];"
      },
      "id": "node-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:latest', messages: [ { role: 'user', content: $json.prompt } ], stream: false }) }}",
        "options": { "timeout": 180000 }
      },
      "id": "node-ollama",
      "name": "Analyze with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet summary = '';\ntry { summary = (data.message && data.message.content) || ''; } catch (e) {}\nif (!summary) summary = JSON.stringify(data);\nreturn [{ json: { summary } }];"
      },
      "id": "node-extract",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/REPLACE_WITH_YOUR_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: ('💬 留言分析與回覆建議\\n\\n' + ($json.summary || '')).slice(0, 1900) }) }}",
        "options": {}
      },
      "id": "node-discord",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 460]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Fetch Comments", "type": "main", "index": 0 } ] ] },
    "Fetch Comments": { "main": [ [ { "node": "Build Prompt", "type": "main", "index": 0 } ] ] },
    "Build Prompt": { "main": [ [ { "node": "Analyze with Ollama", "type": "main", "index": 0 } ] ] },
    "Analyze with Ollama": { "main": [ [ { "node": "Extract Result", "type": "main", "index": 0 } ] ] },
    "Extract Result": { "main": [ [ { "node": "Send to Discord", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {},
  "tags": []
}
