templates/archetype-fb-ads-autopause.skeleton.json
{
  "id": "ArchAds03",
  "name": "【架構範本】FB 廣告依表現自動暫停 (未接 key)",
  "nodes": [
    {
      "parameters": {
        "content": "⚠️ 架構範本（未接 key）\n\n需 Meta Marketing API：廣告帳戶 act_XXXX + Access Token（ads_management 權限）。\n「Decide」節點是門檻邏輯範例（CTR < 1% 就標記暫停），可自行改條件。\n「Pause Ad Set」會 POST status=PAUSED。\n沒 key 不會真的動到你的廣告。",
        "height": 320,
        "width": 380,
        "color": 4
      },
      "id": "node-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 120]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 9 * * *" } ] }
      },
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v21.0/act_YOUR_AD_ACCOUNT/insights?fields=adset_id,campaign_name,ctr,cpc,spend&level=adset",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "access_token", "value": "YOUR_ACCESS_TOKEN" } ] },
        "options": {}
      },
      "id": "node-fetch",
      "name": "Fetch Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "jsCode": "// 範例門檻邏輯：CTR 低於 1% 標記為建議暫停\nconst rows = $input.all().map(i => i.json);\nconst CTR_MIN = 1.0;\nconst toPause = rows.filter(r => parseFloat(r.ctr || 0) < CTR_MIN);\nconst summary = '共 ' + rows.length + ' 筆，建議暫停 ' + toPause.length + ' 筆（CTR < ' + CTR_MIN + '%）。';\nreturn toPause.length ? toPause.map(r => ({ json: r })) : [{ json: { note: summary, adset_id: '' } }];"
      },
      "id": "node-decide",
      "name": "Decide (threshold)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.adset_id || 'YOUR_ADSET_ID' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "PAUSED" },
            { "name": "access_token", "value": "YOUR_ACCESS_TOKEN" }
          ]
        },
        "options": {}
      },
      "id": "node-pause",
      "name": "Pause Ad Set",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Fetch Ad Insights", "type": "main", "index": 0 } ] ] },
    "Fetch Ad Insights": { "main": [ [ { "node": "Decide (threshold)", "type": "main", "index": 0 } ] ] },
    "Decide (threshold)": { "main": [ [ { "node": "Pause Ad Set", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {},
  "tags": []
}
